
/**
 * @package  BiddingOpportunityPlugin
 * 
 */

.text-center {
  text-align: center !important;
}

.bid-opportunity-cpt-datatable-container {
  box-shadow: 2px 2px 5px #bebebe,
    -1px -1px 10px #bebebe;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}
.bid-opportunity-cpt-datatable-container
.title{
  color: #686565;
  font-size: 20px;
}
.bid-opportunity-cpt-datatable-container
table.dataTable {
    border-collapse: collapse !important;
    border: 0 !important;
}
.bid-opportunity-cpt-datatable-container
table.dataTable td{
    border: none !important;
}
.bid-opportunity-cpt-datatable-container
table.dataTable th{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.bid-opportunity-cpt-datatable-container
table.dataTable tr{    
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.bid-opportunity-datatable-attachment-icon {
  filter: invert(30%) sepia(83%) saturate(2440%) hue-rotate(212deg) brightness(101%) contrast(96%)
}

.bid-opportunity-datatable-attachment-icon:hover {
  filter: invert(38%) sepia(81%) saturate(4393%) hue-rotate(143deg) brightness(90%) contrast(105%)
}

.biddop-frontend-supplemental-list {  
  font-size: 13px;
  margin-left: 15px;
}

.biddop-frontend-supplemental-list:hover a {
  color: #059058;  
}

 /* DataTables override styles */
.bid-opportunity-cpt-datatable-container
.bid-opportunity-status-active {
  color: #5498f1
}

.bid-opportunity-cpt-datatable-container
.bid-opportunity-status-failed {
  color: #df6e12
}

.bid-opportunity-cpt-datatable-container
.bid-opportunity-status-awarded {
  color: #14b336
}

.bid-opportunity-cpt-datatable-container
.bid-opportunity-status-default {
  color: #50575e
}

.biddop-frontend-prebid-link-exerp {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}